* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
}

.div-shirina {
  max-width: 60%;
}

.header {
    background-color: #fff;
    box-shadow: 0 1px rgba(0, 0, 0, .2);
    padding: 25px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  
  .logo {
    max-width: 220px;
    min-width: 220px;
    width: 220px;
  }
  
  .nav-menu {
    font-weight: bold;
    display: flex;
    list-style: none;
    margin: 101px;
    padding: 10px;
  }
  
  .nav-item {
    margin: 45px 25px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
  .nav-item a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-item a:hover {
    color: mediumaquamarine;
  }
  
  .login-btn {
    background-color: #fff;
    border: 3px solid #58d5d3;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    padding: 9px 40px;
  }
  
.picture-left {
  height: 500px;
  position: static;
}
.picture-right {
  height: 400px;
  position: absolute;
  margin-right:  20vw;
}
  
.text-right {
  margin-right: 0;
  border: 150px;
  margin-top: 50px;
  margin-right: 50px;
  text-align: right;
}

.paragraph-text-right {
  margin-right: 10%;
  border: 150px;
  margin-top: 50px;
  margin-left: 20%;
  text-align: left;
  font-weight: lighter;
}

.text-left {
  margin-left: 10px;
  border: 150px;
  margin-top: 50px;
  margin-left: 100px;
}

.paragraph-text-left {
  margin-left: 10%;
  border: 150px;
  margin-top: 50px;
  margin-right: 60%;
  text-align: right;
  font-weight: lighter;
}

.edge-web {
  max-width: 560px;
}

.edge-web-onemore {
  max-width: 860px;
}

.table-table {
  /* background-color: aquamarine; */
  margin-top: 50px;
  padding: 50px 50px;
  border: 11px solid black;


}

